.cartItemList {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid rgba(245, 222, 179, 0.314);
  flex: 1;
  padding: 1rem;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #626262;
  margin: 0.5rem;
  padding: 1rem;
}

.cartItem .itemImage {
  width: 100px;
  height: 100px;
}

.cartItem .itemImage img {
  width: 100%;
  height: auto;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartSummery {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(245, 222, 179, 0.314);
  width: 30%;
  margin-left: 3rem;
  padding: 1rem;
}

.cartCenter {
  display: flex;
  width: 90vw;
  min-width: 1170px;
  justify-content: center;
  margin-top: 50px;
}

.summeryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSummery .netSummery {
  border-bottom: #0d8c86 1px solid;
  width: 100%;
}

.btnGroup button {
  outline: none;
  border: #ffffff96 1px solid;
  padding: 5px 10px;
  background-color: transparent;
  color: #ffffff;
}

.btnGroup button:first-child {
  border-radius: 5px 0 0 5px;
}

.btnGroup button:last-child {
  border-radius: 0 5px 5px 0;
}

.btnGroup button:nth-child(2) {
  border-left: 0;
  border-right: 0;
  background-color: #0d8c86e9;
  color: #ffffff;
}

.chechOutBtn {
  width: 100%;
}
